<div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MY-FAKE-ENDPOINT</h5>
          <p class="grey-text text-lighten-4">FAKE REST API designed to help developers and QAs test their applications that need a fake endpoint for callbacks</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://medium.com/@gedersonchiquesi">Medium</a></li>
            <li><a class="white-text" href="https://twitter.com/gedersonch">Twitter</a></li>
            <li><a class="white-text" href="http://github.com/GedersonChiquesi">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/gederson/">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Coded and Build by <a class="orange-text text-lighten-3" target="_blank" href="http://github.com/GedersonChiquesi">Gederson</a>. Source code available on <a class="orange-text text-lighten-3" target="_blank" href="http://github.com/GedersonChiquesi/my-fake-endpoint">GitHub</a>.
      </div>
    </div>