<head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" >

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title><%= title %></title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="icon" href="image/logo_icon.png" />
<meta property="og:image" content="../../public/image/logo.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.my-fake-endpoint-herokuapp.com/" />
<meta property="og:title" content="MY-FAKE-ENDPOINT" />
<meta property="og:description" content="Fake rest API for test your callbacks">

</head>